<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>New Site</title>
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <section class="page">
        <nav>
            <div class="top-menu">
                <ul>
                    <li><a href="#">Ссылка 1</a></li>
                    <li>
                        <a href="#">Ссылка 2</a>
                        <ul>
                            <li><a href="#">Ссылка подменю 1</a></li>
                            <li><a href="#">Ссылка подменю 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Ссылка 3</a></li>
                    <li><a href="#">Ссылка 4</a></li>
                </ul>
            </div>
        </nav>
        <section class="content">

        </section>
    </section>
</body>
</html>